<!DOCTYPE html>
<html>
<head>
  <title>Fashion</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-3">
		  <%= link_to root_path, :class => 'logo' do %>
			<div class="circle">
        	  <br />
        		What
        	  <br />
        		is your
        	  <br />
        		profile
      		</div>
		  <% end %>
		</div>
		<div class="col-xs-4 slogan">
			Profile data warehouse
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', new_shape_path %>
			<%= link_to 'About', '#' %>
		</div>
	</header>
	<hr />
	<br class="clear" />

<%= yield %>

</body>
</html>
